<p><%= link_to("&larr; Previous Day".html_safe, '/?day=' + [@day.prev_day.year, @day.prev_day.month, @day.prev_day.day].join('-')) %> |
<%= link_to("Next Day &rarr;".html_safe, '/?day=' + [@day.next_day.year, @day.next_day.month, @day.next_day.day].join('-')) %></p>