<div class="container search">

  <% if @messages.size == 0 %>
  <div class="row center">
    <div class="span12">
      <h1>No Results Found</h1>
    </div>
  </div>

  <% else %>

  <div class="row center">
    <div class="span12">
      <%= paginate @messages %>
    </div>
  </div>

  <div id="content">
    <%= render(@messages) %>
  </div>

  <div class="row center">
    <div class="span12">
      <%= paginate @messages %>
    </div>
  </div>

  <% end %>

</div>