<header class="jumbotron masthead">
  <div class="container">
    <h1><a href="/">The J&amp;K Messages</a></h1>
    <p>Exchanged between Jacob&nbsp;Gillespie and Kathryn&nbsp;Smith</p>
    <p>August 13, 2012 to <%= Date.today.strftime('%B %e, %Y') %></p>
  </div>
</header>