doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdn.firebase.com/v0/firebase.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/store.js/1.3.6/store.min.js')
    script(src='/javascripts/autolink.js')
    script(src='/javascripts/director.js')
    script(src='//use.typekit.net/acv7acr.js')
    script(type='text/javascript')
        try{Typekit.load();}catch(e){}
  body
    block content
    script(src='/javascripts/app.js')