<style type="text/css">
body {
background:#1b1b24;
color:#8487af;
font-family:"helvetica neue",helvetica,arial,geneva,sans-serif;
font-size:13px
}
</style>


<div class="container">

  <div class="row">
    <div class="span12">

      <h1>J&amp;K Timeline</h1>







<section class="timeline">

  <ol class="days">
        <li class="now" style="height: 108px;">
          <time>Now</time>

          <div class="current incident production">
  <article>
    <div class="details">
      <header>
        <h3>Production Apps Operational</h3>
      </header>

      <div class="description">
        <p>No known issues at this time.</p>
      </div>
    </div>
  </article>
  <canvas width="100" height="10"></canvas>
</div>

          <div class="current incident development">
  <article>
    <div class="details">
      <header>
        <h3>Development Apps &amp; Tools Operational</h3>
      </header>

      <div class="description">
        <p>No known issues at this time.</p>
      </div>
    </div>
  </article>
  <canvas width="100" height="10"></canvas>
</div>




      </li>
        <li class="day">
          <time>Mon Nov 26</time>

          <div id="incident-471-production" class="development incident incident-yellow resolved" style="top: 1px;">
            <article>
              <a href="/incidents/471" class="details">
              <header>
                <h3>Increased HTTP latency</h3>
                <div class="duration">
                  <span>
                    <abbr class="green" title="27m">27m</abbr>
                  </span>
                </div>
              </header>

              <div class="description">
              The situation remains normal after monitoring.

              <div class="meta">
              <span class="timestamp">Nov 12, 2012 23:02 UTC</span>
              <span class="more">Read More...</span>
              </div>
              </div>
              </a>
            </article>

            <mark id="incident-471-production" style="height: 2px;"></mark>
            <canvas width="100" height="500"></canvas>

          </div>

      </li>
        <li class="day">
          <time>Sun Nov 25</time>


      </li>
        <li class="day">
          <time>Sat Nov 24</time>


      </li>
        <li class="day">
          <time>Fri Nov 23</time>


      </li>
        <li class="day">
          <time>Thu Nov 22</time>


      </li>
        <li class="day">
          <time>Wed Nov 21</time>


      </li>
        <li class="day">
          <time>Tue Nov 20</time>


      </li>
        <li class="day">
          <time>Mon Nov 19</time>


      </li>
        <li class="day">
          <time>Sun Nov 18</time>


      </li>
        <li class="day">
          <time>Sat Nov 17</time>


      </li>
        <li class="day">
          <time>Fri Nov 16</time>


      </li>
        <li class="day">
          <time>Thu Nov 15</time>


      </li>
        <li class="day">
          <time>Wed Nov 14</time>


      </li>
        <li class="day">
          <time>Tue Nov 13</time>


      </li>
        <li class="day">
          <time>Mon Nov 12</time>



  <div id="incident-471-production" class="production incident incident-yellow resolved" style="top: 1px;">
    <article>
      <a href="/incidents/471" class="details">
        <header>
          <h3>Increased HTTP latency</h3>
          <div class="duration">
            <span>

              <abbr class="yellow" title="27m">27m</abbr>
            </span>
          </div>
        </header>

        <div class="description">
          The situation remains normal after monitoring.

          <div class="meta">
            <span class="timestamp">Nov 12, 2012 23:02 UTC</span>
            <span class="more">Read More...</span>
          </div>
        </div>
      </a>
    </article>

    <mark id="incident-471-production" style="height: 5px;"></mark>
    <canvas width="100" height="500"></canvas>

  </div>


      </li>
        <li class="day">
          <time>Sun Nov 11</time>


      </li>
        <li class="day">
          <time>Sat Nov 10</time>


      </li>
        <li class="day">
          <time>Fri Nov 9</time>


      </li>
        <li class="day">
          <time>Thu Nov 8</time>



  <div id="incident-470-development" class="development incident incident-yellow resolved" style="top: 21px;">
    <article>
      <a href="/incidents/470" class="details">
        <header>
          <h3>Production database API offline</h3>
          <div class="duration">
            <span>

              <abbr class="yellow" title="4m">4m</abbr>
            </span>
          </div>
        </header>

        <div class="description">
          We have identified and corrected the issue with the production database API. Production database provisioning and administration are now functioning normally. We will continue to monitor the situation closely.

          <div class="meta">
            <span class="timestamp">Nov  8, 2012 19:43 UTC</span>
            <span class="more">Read More...</span>
          </div>
        </div>
      </a>
    </article>

    <mark id="incident-470-development" style="height: 5px;"></mark>
    <canvas width="100" height="500"></canvas>

  </div>




  <div id="incident-469-development" class="development incident incident-yellow resolved" style="top: 97px;">
    <article>
      <a href="/incidents/469" class="details">
        <header>
          <h3>Emergency API Maintenance</h3>
          <div class="duration">
            <span>

              <abbr class="yellow" title="21m">21m</abbr>
            </span>
          </div>
        </header>

        <div class="description">
          We&#x27;ve completed this maintenance. All systems are go.

          <div class="meta">
            <span class="timestamp">Nov  8, 2012 07:42 UTC</span>
            <span class="more">Read More...</span>
          </div>
        </div>
      </a>
    </article>

    <mark id="incident-469-development" style="height: 5px;"></mark>
    <canvas width="100" height="500"></canvas>

  </div>


      </li>
        <li class="day">
          <time>Wed Nov 7</time>


      </li>
        <li class="day">
          <time>Tue Nov 6</time>



  <div id="incident-467-development" class="development incident incident-yellow resolved" style="top: 24px;">
    <article>
      <a href="/incidents/467" class="details">
        <header>
          <h3>Heroku API Issues</h3>
          <div class="duration">
            <span>

              <abbr class="yellow" title="9m">9m</abbr>
            </span>
          </div>
        </header>

        <div class="description">
          API access has been restored.

          <div class="meta">
            <span class="timestamp">Nov  6, 2012 19:18 UTC</span>
            <span class="more">Read More...</span>
          </div>
        </div>
      </a>
    </article>

    <mark id="incident-467-development" style="height: 5px;"></mark>
    <canvas width="100" height="500"></canvas>

  </div>


      </li>
        <li class="day">
          <time>Mon Nov 5</time>


      </li>
        <li class="day">
          <time>Sun Nov 4</time>


      </li>
        <li class="day">
          <time>Sat Nov 3</time>


      </li>
        <li class="day">
          <time>Fri Nov 2</time>



  <div id="incident-466-production" class="production incident incident-yellow resolved" style="top: 104px;">
    <article>
      <a href="/incidents/466" class="details">
        <header>
          <h3>Elevated HTTP errors</h3>
          <div class="duration">
            <span>

              <abbr class="yellow" title="28m">28m</abbr>
            </span>
          </div>
        </header>

        <div class="description">
          The problem has been resolved, and we are monitoring the situation.

          <div class="meta">
            <span class="timestamp">Nov  2, 2012 06:31 UTC</span>
            <span class="more">Read More...</span>
          </div>
        </div>
      </a>
    </article>

    <mark id="incident-466-production" style="height: 5px;"></mark>
    <canvas width="100" height="500"></canvas>

  </div>




  <div id="incident-466-development" class="development incident incident-yellow resolved is-hidden-on-mobile" style="top: 104px;">
    <article>
      <a href="/incidents/466" class="details">
        <header>
          <h3>Elevated HTTP errors</h3>
          <div class="duration">
            <span>

              <abbr class="yellow" title="28m">28m</abbr>
            </span>
          </div>
        </header>

        <div class="description">
          The problem has been resolved, and we are monitoring the situation.

          <div class="meta">
            <span class="timestamp">Nov  2, 2012 06:31 UTC</span>
            <span class="more">Read More...</span>
          </div>
        </div>
      </a>
    </article>

    <mark id="incident-466-development" style="height: 5px;"></mark>
    <canvas width="100" height="500"></canvas>

  </div>


      </li>
        <li class="day">
          <time>Thu Nov 1</time>



  <div id="incident-465-production" class="production incident incident-yellow resolved" style="top: 83px;">
    <article>
      <a href="/incidents/465" class="details">
        <header>
          <h3>Elevated HTTP Error Rates / Issues Starting Processes </h3>
          <div class="duration">
            <span>

              <abbr class="yellow" title="30m">30m</abbr>
            </span>
          </div>
        </header>

        <div class="description">
          Process management and HTTP routing continue to function properly.  The issue has been resolved.

          <div class="meta">
            <span class="timestamp">Nov  1, 2012 09:59 UTC</span>
            <span class="more">Read More...</span>
          </div>
        </div>
      </a>
    </article>

    <mark id="incident-465-production" style="height: 5px;"></mark>
    <canvas width="100" height="500"></canvas>

  </div>




  <div id="incident-465-development" class="development incident incident-yellow resolved is-hidden-on-mobile" style="top: 83px;">
    <article>
      <a href="/incidents/465" class="details">
        <header>
          <h3>Elevated HTTP Error Rates / Issues Starting Processes </h3>
          <div class="duration">
            <span>

              <abbr class="yellow" title="30m">30m</abbr>
            </span>
          </div>
        </header>

        <div class="description">
          Process management and HTTP routing continue to function properly.  The issue has been resolved.

          <div class="meta">
            <span class="timestamp">Nov  1, 2012 09:59 UTC</span>
            <span class="more">Read More...</span>
          </div>
        </div>
      </a>
    </article>

    <mark id="incident-465-development" style="height: 5px;"></mark>
    <canvas width="100" height="500"></canvas>

  </div>


      </li>
        <li class="day">
          <time>Wed Oct 31</time>



  <div id="incident-464-development" class="development incident incident-yellow resolved" style="top: -6px;">
    <article>
      <a href="/incidents/464" class="details">
        <header>
          <h3>API performance issues</h3>
          <div class="duration">
            <span>

              <abbr class="yellow" title="1h 49m">2h</abbr>
            </span>
          </div>
        </header>

        <div class="description">
          API performance is now back to normal levels. We&#x27;ll keep monitoring.

          <div class="meta">
            <span class="timestamp">Oct 31, 2012 23:04 UTC</span>
            <span class="more">Read More...</span>
          </div>
        </div>
      </a>
    </article>

    <mark id="incident-464-development" style="height: 11px;"></mark>
    <canvas width="100" height="500"></canvas>

  </div>




  <div id="incident-463-production" class="production incident incident-yellow resolved" style="top: 32px;">
    <article>
      <a href="/incidents/463" class="details">
        <header>
          <h3>Errors Starting and Restarting Dynos</h3>
          <div class="duration">
            <span>

              <abbr class="yellow" title="24m">24m</abbr>
            </span>
          </div>
        </header>

        <div class="description">
          This is now resolved.

          <div class="meta">
            <span class="timestamp">Oct 31, 2012 17:59 UTC</span>
            <span class="more">Read More...</span>
          </div>
        </div>
      </a>
    </article>

    <mark id="incident-463-production" style="height: 5px;"></mark>
    <canvas width="100" height="500"></canvas>

  </div>




  <div id="incident-463-development" class="development incident incident-yellow resolved is-hidden-on-mobile" style="top: 31px;">
    <article>
      <a href="/incidents/463" class="details">
        <header>
          <h3>Errors Starting and Restarting Dynos</h3>
          <div class="duration">
            <span>

              <abbr class="yellow" title="59m">59m</abbr>
            </span>
          </div>
        </header>

        <div class="description">
          This is now resolved.

          <div class="meta">
            <span class="timestamp">Oct 31, 2012 17:59 UTC</span>
            <span class="more">Read More...</span>
          </div>
        </div>
      </a>
    </article>

    <mark id="incident-463-development" style="height: 6px;"></mark>
    <canvas width="100" height="500"></canvas>

  </div>


      </li>
        <li class="day">
          <time>Tue Oct 30</time>



  <div id="incident-462-development" class="development incident incident-yellow resolved" style="top: 65px;">
    <article>
      <a href="/incidents/462" class="details">
        <header>
          <h3>API and Process Management Issues</h3>
          <div class="duration">
            <span>

              <abbr class="yellow" title="38m">38m</abbr>
            </span>
          </div>
        </header>

        <div class="description">
          The issue has been resolved.

          <div class="meta">
            <span class="timestamp">Oct 30, 2012 12:47 UTC</span>
            <span class="more">Read More...</span>
          </div>
        </div>
      </a>
    </article>

    <mark id="incident-462-development" style="height: 5px;"></mark>
    <canvas width="100" height="500"></canvas>

  </div>




  <div id="incident-461-development" class="development incident incident-yellow resolved" style="top: 69px;">
    <article>
      <a href="/incidents/461" class="details">
        <header>
          <h3>API and Process Management Issues</h3>
          <div class="duration">
            <span>

              <abbr class="yellow" title="26m">26m</abbr>
            </span>
          </div>
        </header>

        <div class="description">
          This is now fully resolved.

          <div class="meta">
            <span class="timestamp">Oct 30, 2012 12:09 UTC</span>
            <span class="more">Read More...</span>
          </div>
        </div>
      </a>
    </article>

    <mark id="incident-461-development" style="height: 5px;"></mark>
    <canvas width="100" height="500"></canvas>

  </div>


      </li>
        <li class="day">
          <time>Mon Oct 29</time>


      </li>
        <li class="day">
          <time>Sun Oct 28</time>


      </li>
        <li class="day">
          <time>Sat Oct 27</time>


      </li>
  </ol>

  <div class="load-more">
    <a href="/past">Archived Incidents</a>
  </div>
</section>




    </div>
  </div>

</div>