.unit > img, .unit > a > img {
  width: 100%;
}

.jacob, .kathryn {
  padding: 36px 0;
}

.kathryn {
  background-color: #FFF0F5;
}

footer {
  padding: 36px 0;
}



.wf-loading {
  height:100%;overflow:hidden;background:url(/images/ajax-loader.gif) center center no-repeat fixed;
}
.wf-loading * {
  opacity:0;
}
.wf-active body, .wf-inactive body{-webkit-animation:fade 1s ease;
}

a{color:#90b4a8;font-weight:700;text-decoration:none;}

html,body{-webkit-font-smoothing:antialiased;
  height: 100%;
}
body {
  font-family:'adelle','Helvetica Neue',Helvetica,Arial,sans-serif;
  color:#222;
  margin:3rem 0;
}

.site-title {
  margin-bottom:0;
  letter-spacing:-.05px;
}
.site-title:first-letter {
  margin-right:-.05em;
}

@media screen and (max-width: 650px) {
  .hide-mobile {
    display: none;
  }
}

footer {
  position: relative;
  bottom: 0px;
}

#main {
  min-height: 100%;
}


.btn{
  display:block;
  padding:8px 15px;
  padding:.375rem;
  text-align:center;
  color:#fff;
  background-color:#90b4a8;
  border-radius:.24rem;
  font-size:.75rem;
  text-shadow:0 1px 1px rgba(0,0,0,.1);
  border:1px solid rgba(0,0,0,.1);
  line-height:2;
  margin-bottom: 15px;
}


.demo .unit{padding:15px;padding:.75rem;margin-bottom:30px;margin-bottom:1.5rem;text-align:center;background-color:#f7f5f2;color:#b5b75e;}@media screen and (max-width: 650px) {.demo{display:none;}}@-webkit-keyframes fade {
    0% { display: none; opacity: 0; } 1% { display: block; }
    100%{ opacity: 1; }
}

@-webkit-keyframes fadeInDown {
    from { -webkit-transform: translateY(-10px); opacity: 0; }
    to { -webkit-transform: none; opacity: 1; }
}

@-webkit-keyframes fadeInUp {
    from { -webkit-transform: translateY(10px); opacity: 0; }
    to { -webkit-transform: none; opacity: 1; }
}